<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="test/bootstrap.php"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="aop">
            <directory suffix="Test.php">src/aop/test</directory>
        </testsuite>
        <testsuite name="auth">
            <directory suffix="Test.php">src/auth/test</directory>
        </testsuite>
        <testsuite name="bean">
            <directory suffix="Test.php">src/bean/test</directory>
        </testsuite>
        <testsuite name="cache">
            <directory suffix="Test.php">src/cache/test</directory>
        </testsuite>
        <testsuite name="console">
            <directory suffix="Test.php">src/console/test</directory>
        </testsuite>
        <testsuite name="db">
            <directory suffix="Test.php">src/db/test</directory>
        </testsuite>
        <testsuite name="defer">
            <directory suffix="Test.php">src/defer/test</directory>
        </testsuite>
        <testsuite name="devtool">
            <directory suffix="Test.php">src/devtool/test</directory>
        </testsuite>
        <testsuite name="handler">
            <directory suffix="Test.php">src/error-handler/test</directory>
        </testsuite>
        <testsuite name="framework">
            <directory suffix="Test.php">src/framework/test</directory>
        </testsuite>
        <testsuite name="event">
            <directory suffix="Test.php">src/event/test</directory>
        </testsuite>
        <testsuite name="http-server">
            <directory suffix="Test.php">src/http-server/test</directory>
        </testsuite>
        <testsuite name="server">
            <directory suffix="Test.php">src/server/test</directory>
        </testsuite>
        <testsuite name="memory">
            <directory suffix="Test.php">src/memory/test</directory>
        </testsuite>
        <testsuite name="process">
            <directory suffix="Test.php">src/process/test</directory>
        </testsuite>
        <testsuite name="redis">
            <directory suffix="Test.php">src/redis/test</directory>
        </testsuite>
        <testsuite name="rpc">
            <directory suffix="Test.php">src/rpc/test</directory>
        </testsuite>
        <testsuite name="rpc-client">
            <directory suffix="Test.php">src/rpc-client/test</directory>
        </testsuite>
        <testsuite name="rpc-server">
            <directory suffix="Test.php">src/rpc-server/test</directory>
        </testsuite>
        <testsuite name="sg">
            <directory suffix="Test.php">src/service-governance/test</directory>
        </testsuite>
        <testsuite name="task">
            <directory suffix="Test.php">src/task/test</directory>
        </testsuite>
        <testsuite name="trace">
            <directory suffix="Test.php">src/trace/test</directory>
        </testsuite>
        <testsuite name="ws-server">
            <directory suffix="Test.php">src/websocket-server/test</directory>
        </testsuite>
        <testsuite name="stdlib">
            <directory suffix="Test.php">src/stdlib/test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/*/src</directory>
        </whitelist>
    </filter>
</phpunit>