
// for table, from bootstap 4
.table-sm td, .table-sm th
  padding: .3rem !important;

.table-bordered thead td, .table-bordered thead th
  border-bottom-width: 2px;

.table-bordered td, .table-bordered th
  border: 1px solid #dee2e6;
